# Large datasets
rockyou.txt
rockyou.txt.gz
dataset/rockyou.txt

# Model artifacts
models/*.pkl

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Virtual environments
venv/
.envs
vault.json
vault.json.tmp
*.bin
.env
models/*.joblib

secure_store.json

vault_meta.json

.ipynb_checkpoints/

# Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Windows files
Thumbs.db
desktop.ini
