# ML
scikit-learn
numpy
pandas
joblib
zxcvbn

# NLP / linguistic
nltk
pyphen

# Security
cryptography
argon2-cffi

# Web
flask

# Visualization / notebook
matplotlib
seaborn
jupyter
notebook

# Dev
pytest