<!DOCTYPE html>
<html>
<head>
    <title>Password Intelligence</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>AI Based Secure And Memorable Password Generator</h1>
        <p>Generate secure and memorable passwords powered by ML & cryptography.</p>
        <a href="/login" class="btn">Login</a>
        <br><br>
        <a href="/register" class="link-btn">Create an account</a>
    </div>
</body>
</html>